.aboutMe-container{
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-weight: 450;
  font-size: 1.3em;
  line-height: 50px;
  color: #6C5B78;
  margin: auto;
  text-align: left; 
}

h3, .aboutMe-blurb{
  width:70%;
  margin:auto;
  line-height: 50px;
  padding-bottom: 20px; 
}

.aboutMe-blurb > p{
  color:rgb(21, 17, 24);
  margin:auto;  
}

#sprite{
  margin:auto !important;
  width:70%;
}

.sprite-container > img {
  display:flex;
  justify-content: center;
}






